[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
pywin32 = "*"
pillow = "*"
numba = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.12"
